<h4>Please Log In</h4>

<%= form_tag '/login' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username %>
  <br/>
  <%= label_tag :password %>
  <%= password_field_tag %>
  <br/>
  <%= submit_tag 'Login', class: 'btn btn-small btn-success' %>
<% end %>