<% @posts.each do |post| %>
  <h4><%= link_to post.title, post_path(post) %></h4>
  <div class="well">
    <%= post.description %>
    <ul>
      <% post.comments.each do |comment| %>
        <li>
          <%= comment.description %>
        </li>
      <% end %>
    </ul>
    <div class= "btn-group">
      <% if logged_in? %>
        <%= link_to 'Comment', post_path(post), class: 'btn btn-small' %>
        <%= link_to 'Edit Post', edit_post_path(post), class: 'btn btn-small' %>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>

