<% @posts.each do |post| %>
  <div class="well well-small">
    <h4><%= link_to post.title, post_path(post) %></h4>
    <%= post.url %>
    <br/>
    <%= render 'post_vote', obj: post %>
    <%= post.description %>
    <ul>
      <% post.comments.each do |comment| %>
        <li>
          <%= render 'comment_vote', post_obj: post, comment_obj: comment %>
          <%= comment.description %>
        </li>
      <% end %>
    </ul>
    <div class= "btn-group">
      <% if logged_in? %>
        <%= link_to "<i class='icon-comment'></i>".html_safe, post_path(post), class: 'btn btn-small' %>
        <%= link_to "<i class='icon-edit-sign'></i>".html_safe, edit_post_path(post), class: 'btn btn-small' %>
      <% end %>
    </div>
  </div>
  <br/>
<% end %>

