<div class="navbar">
  <ul class="nav">
    <li>
      <%= link_to "Postit!", root_path, :class => 'brand' %>
    </li>
    <% if logged_in? %>
      <li>
        <p class="navbar-text"><%= "Welcome #{current_user.username}!" %></p>
      </li>
      <li>
        <%= link_to "<i class='icon-pencil'></i> New Post".html_safe , new_post_path %>
      </li>
      <% if current_user.admin? %>
        <li>
          <%= link_to "<i class='icon-tag'></i> New Category".html_safe, new_category_path %>
        </li>
      <% end %>
      <li>
        <%= link_to "<i class='icon-off'></i> Logout".html_safe, logout_path %>
      </li>
    <% else %>
      <li>
        <%= render '/sessions/nav_login' %>
      </li>
      <li>
        <%= link_to 'Register', register_path %>
      </li>
    <% end %>
  </ul>
</div>